body{
	color: #2d2d2d;
	background-color: #f5f5f5;
}

div.effect{
	color: #2d2d2d;
	text-shadow: 0px 0px 0px #2d2d2d; 
	
}

article{
	border : 1px solid #2d2d2d;
}

div{
	
	height: 100%;
 	border: 1px solid #2d2d2d;
}

div {
	color: transparent;	
	height: 100px;
	text-shadow: 0px 0px 0.5px #2d2d2d; 
	
}